<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014663191058-rmuliur1k0a7au7pc623kam1gn4ptvlp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014663191058-rmuliur1k0a7au7pc623kam1gn4ptvlp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1014663191058-37usi7bkv0mpe0aio35cqmtkd7tg67k5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDV-8wpCGtC9RhqGZAfsGvzS1XH8MvzVts</string>
	<key>GCM_SENDER_ID</key>
	<string>1014663191058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pizzadym.deliveryman</string>
	<key>PROJECT_ID</key>
	<string>pizzadym-5ad61</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzadym-5ad61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014663191058:ios:ff71b90716263a5f5e56cb</string>
</dict>
</plist>